
*{
    padding: 0;
    margin: 0;
}

#gameBoard{
    top: 3em;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background: #262222;
    position: relative;
}

#score_panel{
    position: absolute;
    z-index: 99;
}

#score_panel>p{
    color: red;
    font-size: 28px;
    font-weight: bold;
}

